body {
  margin: 40px 0;
  font-family: "Raleway";
  font-size: 14px;
  font-weight: 500;
  background-color: white;
  -webkit-font-smoothing: antialiased;
}
html {
  scroll-behavior: smooth;
}

/* sec1 start */
.sec1 {
  position: relative;
  height: 200vh;
  background-color: transparent;
  z-index: -1;
  overflow: hidden;
}
.sec1 > * {
  position: fixed;
}
.sec1 > p {
  left: 50%;
  transform: translateX(-50%);
  text-transform: uppercase;
  white-space: nowrap;
  font-size: 10vw;
  font-weight: bold;
}
.text1 {
  top: 0;
}
.text2 {
  bottom: -2%;
}

.img {
  position: fixed;
  width: 60vw;
  height: 70vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url(../img/Banner.png);
  background-size: 100vw;
  background-position: center;
  background-repeat: no-repeat;
}
.sec1 span {
  color: white;
  font-weight: bold;
  font-size: 2vw;
}
.motive1 {
  /* border: 3px solid red; */
  top: 50%;
  right: 55%;
  transform: translate(-100%, -100%);
}
.motive2 {
  /* border: 3px solid red; */
  top: 50%;
  left: 75%;
  transform: translate(-100%, -100%);
}
/* sec2 start */
.sec2 {
  /* border: 3px solid red; */
  height: 100vh;
  background-color: white;
}
.sec2 h2 {
  position: relative;
  top: 10%;
}
#app {
  padding-top: 13%;
}
.title {
  /* border: 1px solid red; */
  font-family: "Raleway";
  font-size: 4vw;
  font-weight: 600;
  text-align: center;
}

p {
  line-height: 1.5em;
}

h1 + p,
p + p {
  margin-top: 10px;
}

.container {
  padding: 40px 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* border: 5px solid yellow; */
  height: 50vh;
}

.card-wrap {
  margin: 10px;
  -webkit-transform: perspective(800px);
  transform: perspective(800px);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  cursor: pointer;
}
.card-wrap:hover .card-info {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.card-wrap:hover .card-info p {
  opacity: 1;
}
.card-wrap:hover .card-info,
.card-wrap:hover .card-info p {
  transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}
.card-wrap:hover .card-info:after {
  transition: 5s cubic-bezier(0.23, 1, 0.32, 1);
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.card-wrap:hover .card-bg {
  transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  opacity: 5s cubic-bezier(0.23, 1, 0.32, 1);
  opacity: 0.8;
}
.card-wrap:hover .card {
  transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  box-shadow: 2s cubic-bezier(0.23, 1, 0.32, 1);
  box-shadow: rgba(255, 255, 255, 0.2) 0 0 40px 5px, white 0 0 0 1px,
    rgba(0, 0, 0, 0.66) 0 30px 60px 0, inset #333 0 0 0 5px,
    inset white 0 0 0 6px;
}

.card {
  position: relative;
  flex: 0 0 240px;
  width: 250px;
  height: 320px;
  background-color: #333;
  overflow: hidden;
  border-radius: 10px;
  transition: 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.card-bg {
  opacity: 0.5;
  position: absolute;
  top: -20px;
  left: -20px;
  width: 100%;
  height: 100%;
  padding: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  opacity: 5s 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  pointer-events: none;
}

.card-info {
  padding: 20px;
  position: absolute;
  height: 100%;
  color: #fff;
  -webkit-transform: translateY(40%);
  transform: translateY(40%);
  transition: 0.6s 1.6s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.card-info p {
  opacity: 0;
  text-shadow: black 0 2px 3px;
  transition: 0.6s 1.6s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.card-info * {
  position: relative;
  z-index: 1;
}
.card-info:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    to bottom,
    transparent 0%,
    rgba(0, 0, 0, 0.6) 100%
  );
  background-blend-mode: overlay;
  opacity: 0;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  transition: 5s 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.card-info h1 {
  font-family: "Playfair Display";
  font-size: 36px;
  font-weight: 700;
  position: fixed;
  text-shadow: rgba(0, 0, 0, 0.5) 0 10px 10px;
}
.sec2 img {
  width: 50px;
  margin-left: 1rem;
}
.sec2 span {
  position: relative;
  display: block;
  font-size: 12px;
  /* border: 1px solid red; */
  top: 4vh;
  width: 100%;
  padding-bottom: 0.5rem;
}
.sec2 strong {
  /* border: 1px solid blue; */
  font-size: 12px;
  position: relative;
  top: 4vh;
}
.sec2 a {
  position: relative;
  display: inline;
  /* border: 1px solid yellow; */
  top: 4vh;
}
/* sec3 start */
.sec3 {
  height: 100vh;
  background-color: white;
  /* border: 1px solid red; */
}
.sec3 h2 {
  font-family: "Raleway";
  font-size: 1.5vw;
  font-weight: 600;
  text-align: center;
  padding-top: 2rem;
}
.title2 {
  font-family: "Raleway";
  font-size: 3vw;
  font-weight: 600;
  text-align: center;
}

.tabs {
  position: absolute;
  top: 350vh;
  left: 50.5%;
  transform: translate(-50%, -50%);
  width: 700px;
  height: 400px;
  background: #f5f5f5;
  padding: 20px 30px;
  overflow: hidden;
  border-radius: 50px;
  box-shadow: 5px 10px 5px #ccc;
}
.tabs .tab-header {
  height: 60px;
  display: flex;
  align-items: center;
}
.tabs .tab-header > div {
  width: calc(100% / 4);
  text-align: center;
  color: #888;
  font-weight: 600;
  cursor: pointer;
  font-size: 20px;
  text-transform: uppercase;
  outline: none;
}
.tabs .tab-header > div > i {
  display: block;
  margin-bottom: 5px;
}
.tabs .tab-header > div.active {
  color: #d0ccc4;
}
.tabs .tab-indicator {
  position: relative;
  width: calc(100% / 4);
  height: 5px;
  background: #d0ccc4;
  left: 0px;
  border-radius: 5px;
  transition: all 500ms ease-in-out;
}
.tabs .tab-body {
  position: relative;
  height: calc(100% - 60px);
  padding: 10px 5px;
}
.tabs .tab-body > div {
  position: absolute;
  top: -200%;
  opacity: 0;
  transform: scale(0.9);
  opacity: 500ms ease-in-out 0ms;
  transform: 500ms ease-in-out 0ms;
}
.tabs .tab-body > div.active {
  top: 0px;
  opacity: 1;
  transform: scale(1);
}

.active p {
  position: absolute;
  width: 100%;
  top: 10vh;
  padding-top: 1rem;
  text-align: center;
}
.active span {
  display: block;
  font-size: 14px;
}
.active {
  width: 100%;
  text-align: center;
}
/* button start */
button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  top: 15vh;
}

.learn-more {
  width: 12rem;
  height: auto;
}
.learn-more a {
  text-decoration: none;
}
.circle {
  transition: (all, 0.45s, cubic-bezier(0.65, 0, 0.076, 1));
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background-color: #333;
  border-radius: 1.625rem;
}

.icon {
  transition: (all, 0.45s, cubic-bezier(0.65, 0, 0.076, 1));
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background-color: white;
}
.arrow {
  transition: (all, 0.45s, cubic-bezier(0.65, 0, 0.076, 1));
  left: 0.8rem;
  width: 1rem;
  height: 0.125rem;
  background: none;
}

.arrow::before {
  position: absolute;
  content: "";
  top: -0.25rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}

.button-text {
  transition: (all, 0.45s, cubic-bezier(0.65, 0, 0.076, 1));
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #333;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}

.button:hover {
  color: white;
}
.circle:hover {
  width: 100%;
}
.icon:hover {
  background-color: white;
  transform: translate(1rem, 0);
}
.arrow:hover {
  background-color: white;
  transform: translate(1rem, 0);
}
.button-text:hover {
}

/* sec6 start */
.sec6 {
  /* border: 1px solid red; */
  height: 100vh;
  background-color: #d0ccc4;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.sec6 h2 {
  position: relative;
  font-family: "Raleway";
  font-size: 6vw;
  font-weight: 600;
  padding-bottom: 3rem;
  top: 55vh;
  color: #333;
}
.sec6 img {
  position: relative;
  transition: all 0.3s ease-in-out;
  top: -20vh;
}
.sec6 img:hover {
  transform: scale(1.2);
}
.sec6 strong {
  font-weight: bold;
}
.finish {
  width: 50%;
  position: relative;
  font-family: "Raleway";
  font-size: 1.5vw;
  color: #333;
  text-align: left;
  top: -30%;
  left: 5%;
}
.contact {
  font-family: "Raleway";
  position: relative;
  font-size: 1.5vw;
  top: -25%;
}
.sec6_text {
  font-family: "Raleway";
  position: relative;
  color: #333;
  width: 50%;
  left: 60%;
  bottom: 35%;
  text-align: left;
  width: 30%;
}
.last {
  width: 50%;
  position: relative;
  left: 10px;
}
.sec6 span {
  display: block;
}
