@charset 'utf-8';
html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: white;
}
/* sec1 start */
.sec1 {
  /* border: 5px solid red; */
  height: 100vh;
  background-color: transparent;
  z-index: -1;
}
.sec1 > * {
  position: fixed;
  /* border: 1px solid lightblue; */
}
.sec1 > p {
  left: 50%;
  transform: translateX(-50%);
  text-transform: uppercase;
  white-space: nowrap;
  font-size: 10vw;
  font-weight: bold;
}
.text1 {
  top: 0;
}
.text2 {
  bottom: 0;
}
.img {
  /* border: 10px solid lightgoldenrodyellow; */
  width: 40vw;
  height: 70vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url(./img/Banner.png);
  background-size: 100vw;
  background-position: center;
}

/* sec2 start */
.sec2 > * {
  position: relative;
  height: 50vh;
  background-color: white;
}
.insta {
  height: 100%;
}

.insta img {
  position: relative;
  /* border: 1px solid red; */
  width: 100%;
}

.insta h2 {
  position: relative;
  /* text-transform: uppercase; */
  white-space: nowrap;
  font-size: 5vw;
  font-weight: bold;
  text-align: center;
  top: 3vh;
}
.intro1 {
  border: 1px solid red;
  height: 40%;
  bottom: 50vh;
  background-color: transparent;
  width: 15%;
  left: 100px;
}
.sec2 span {
  display: block;
  line-height: 1.5rem;
}
.intro2 {
  border: 1px solid red;
  height: 40%;
  bottom: 50vh;
  background-color: transparent;
  width: 15%;
  left: 25%;
}
/* sec3 start */
.sec3 {
  position: relative;
  height: 50vh;
}

.slide1 {
  left: -1%;
  /* border: 5px solid red; */
  width: 40%;
  height: 100%;
}
.slide1 img {
  filter: grayscale(0.3);
}
.title2 {
  position: absolute;
  /* border: 1px solid red; */
  white-space: nowrap;
  font-size: 5vw;
  font-weight: bold;
  writing-mode: vertical-lr;
  transform: scale(-1);
  left: 23.5vw;
  bottom: 10vh;
  height: 30vh;
}
.name {
  position: absolute;
  /* border: 1px solid red; */
  top: 68%;
  left: 47%;
  transform: translate(-50%, -50%);
  z-index: 999;
  font-size: 20px;
}
.name a {
  margin: 9rem;
}
.btn {
  position: absolute;
  top: 75%;
  left: 53%;
  transform: translate(-50%, -50%);
  z-index: 999;
  font-size: 20px;
}
.btn a {
  margin: 9rem;
}
.pg1 {
  border: 1px solid blue;
  top: 70%;
  height: 2vh;
}

/* sec4 start */
.sec4 > * {
  position: relative;
  height: 50vh;
  background-color: #333;
  color: white;
}
.title3 {
  /* border: 1px solid red; */
  text-align: center;
  top: 50vh;
  right: -70vw;
  white-space: nowrap;
  font-size: 3vw;
  font-weight: bold;
  writing-mode: vertical-rl;
  /* transform: scale(-1); */
  z-index: 9000;
}
.last_text {
  /* border: 3px solid blue; */
  font-size: 20px;
  line-height: 4rem;
}
.send1 {
  position: absolute;
  /* border: 1px solid red; */
  width: 20%;
  top: 10vh;
  left: 30%;
}
.send1 span {
  display: block;
}
.send2 {
  position: absolute;
  /* border: 1px solid red; */
  width: 20%;
  top: 20vh;
  left: 30%;
}
.send2 span {
  display: block;
}
.text {
  position: absolute;
  /* border: 1px solid red; */
  width: 40%;
  top: 30vh;
  left: 30%;
}
/* wrap start */
.wrap {
  position: relative;
  background-color: white;
}
