@charset 'utf-8';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: white;
}

.back img {
  position: relative;
  /* border: 1px solid blue; */
  width: 40px;
  left: 50px;
  padding-top: 2rem;
}

.link1 {
  /* border: 1px solid blue; */
  position: absolute;
  width: 30%;
  height: 25px;
  background-color: white;
  border-radius: 50px;
  text-align: center;
}
.link2 {
  position: absolute;
  width: 30%;
  height: 25px;
  left: 33%;
  background-color: white;
  border-radius: 50px;
  text-align: center;
}

.sec1 h1 {
  font-size: 3vh;
  position: relative;
  text-align: center;
}

.tag {
  margin: 2rem;
  text-align: center;
  font-size: 14px;
}

.sec1 h2 {
  font-size: 14px;
  padding-bottom: 1rem;
}
.sub {
  border: 1px solid red;
  position: relative;
  width: 50%;
}
.color1 {
  position: relative;
  background-color: #302f70;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  left: 62%;
  transform: translate(-50%, -50%);
  bottom: 12%;
}
.color2 {
  position: relative;
  background-color: #414141;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  left: 62%;
  transform: translate(-50%, -50%);
  bottom: 11%;
}
.color3 {
  position: relative;
  background-color: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  left: 62%;
  transform: translate(-50%, -50%);
  bottom: 10%;
}
